:root {
    --dark-blue: #1f2937;
    --wide-padding: 0 200px;
    --tight-padding: 0 240px;
    --light-blue: #3882F6;
    --light-gray: #e5e7eb;
    --off-white: #f9faf8;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

body > * {
    padding: var(--wide-padding);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
}

header h1 {
    font-size: 24px;
    color: var(--off-white);
}

.header-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
    
}

.header-link-text,
.hero-secondary-text,
.info-item-text{
    font-size: 18px;
    color: var(--light-gray);
    text-decoration: none;
    margin: 0;
}

.hero {
    background-color: var(--dark-blue);
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hero-content {
    display: flex;
    
}

.hero-text  {
    flex-direction: column;
    align-items: flex-start;
}

.hero-text h2{
    color: var(--off-white);
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    background-color: rgb(160, 159, 168);
    width: 100%;
    text-align: center;
}

.hero-btn {
    margin: 10px 0;
    padding: 5px 30px;
    font-weight: bold;
    background-color: var(--light-blue);
    color: var(--light-gray);
    border: none;
    border-radius: 5px;
}

.information {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--tight-padding)
}

.information-text {
    font-size: 36px;
    font-weight: 600;
    color: var(--dark-blue);
}

.information-items {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.information-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-item-img {
    border: 4px solid var(--light-blue);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    
}

.info-item-text {
    padding-top: 5px;
    color: var(--dark-blue);
    width: 120px;
    text-align: center;
}

.quote-section {
    background-color: var(--light-gray);
    padding: var(--tight-padding);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
} 

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: var(--dark-blue);
} 

.quote-author {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-blue);
    text-align: right;
}

.call-to-action-section {
    padding: var(--wide-padding);
    padding-top: 60px;
    padding-bottom: 60px;
}

.call-to-action {
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.call-to-action-text {
    display:flex;
    flex-direction: column;
    color: var(--off-white);
}

.call-to-action-btn {
    border: 2px solid var(--off-white);
    border-radius: 5px;
    color: var(--off-white);
    padding: 5px 25px;
    
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--off-white);
    text-align: center;
}

a:hover,
button:hover {
    cursor: pointer;
}