:root {
    --dark-blue: #1f2937;
    --light-blue: #3882F6;
    --light-gray: #e5e7eb;
    --off-white: #f9faf8;
    --wide-padding: 0 200px;
    --tight-padding: 0 240px;
    --section-padding: 60px;
    --info-img-size: 120px;
    --font-small: 18px;
    --font-med: 24px;
    --font-large: 36px;
    --font-xlarge: 48px
}


body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

body > * {
    padding: var(--wide-padding);
}

a:hover,
button:hover {
    cursor: pointer;
    
}

a:hover {
    text-decoration: underline;
}

button:hover {
    box-shadow: 0 0 0 2px var(--off-white);
}

.btn{
    
    padding: 5px 30px;
    font-weight: bold;
    background-color: var(--light-blue);
    color: var(--light-gray);
    border-radius: 5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
}

.logo {
    font-size: var(--font-med);
    color: var(--off-white);
}

.header-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
    
}

.header-link-text,
.hero-secondary-text,
.info-item-text{
    font-size: var(--font-small);
    color: var(--light-gray);
    text-decoration: none;
    margin: 0;
}

.hero {
    background-color: var(--dark-blue);
    padding-top: calc(1.5 * var(--section-padding));
    padding-bottom: calc(1.5 * var(--section-padding));
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex: 1 1 0;
}

.hero-text  {
    flex-direction: column;
    align-items: flex-start;
}

.hero-text h2{
    color: var(--off-white);
    font-size: var(--font-xlarge);
    font-weight: 900;
    margin: 0;
}

.hero-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.hero-btn {
    margin-top: 15px;
    border: none;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--tight-padding);
    padding-top: calc(1 * var(--section-padding));
    padding-bottom: calc(1 * var(--section-padding));
}

.information-text {
    font-size: var(--font-large);
    font-weight: 600;
    color: var(--dark-blue);
}

.information-items {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.information-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-item-img {
    border: 4px solid var(--light-blue);
    border-radius: 10px;
    width: var(--info-img-size);
    height: var(--info-img-size);
    
}

.info-item-text {
    padding-top: 5px;
    color: var(--dark-blue);
    width: var(--info-img-size);
    text-align: center;
    font-size: var(--font-small);
}

.quote-section {
    background-color: var(--light-gray);
    padding: var(--tight-padding);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    flex-direction: column;
} 

.quote-text {
    font-size: var(--font-large);
    font-style: italic;
    color: var(--dark-blue);
} 

.quote-author {
    font-size: var(--font-med);
    font-weight: bold;
    color: var(--dark-blue);
    text-align: right;
}

.call-to-action-section {
    padding: var(--wide-padding);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.call-to-action {
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.call-to-action-text {
    display:flex;
    flex-direction: column;
    color: var(--off-white);
}

.call-to-action-btn {
    border: 2px solid var(--off-white);    
}

.footer {
    padding-top: calc(0.5 * var(--section-padding));
    padding-bottom: calc(0.5 * var(--section-padding));
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--off-white);
    text-align: center;
}
